home-container {
    background-image: url('/Users/maddie/Projects/CPSC_559/559_final_project/blockchain/src/components/custom/csufeng.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}